<!-- views/index.ejs -->
<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="container">
  <h1>Willkommen zu meinem Schulportal</h1>
  <p>Hier findest du Dokumente, Forum, Kalender und mehr.</p>
  
  <% if (!currentUser) { %>
    <a class="btn" href="/login">Einloggen</a>
    <a class="btn" href="/register">Registrieren</a>
  <% } else { %>
    <a class="btn" href="/documents">Dokumente</a>
    <a class="btn" href="/forum">Forum</a>
    <a class="btn" href="/messages">Nachrichten</a>
    <a class="btn" href="/analytics">Statistiken</a>
  <% } %>
</div>

<%- include('partials/footer') %>
